on: [push]
name: CI
env:
  SIMPLETEST_DB: "mysql://drupal:drupal@mariadb:3306/drupal"
  SIMPLETEST_BASE_URL: "http://127.0.0.1:8080"
  SYMFONY_DEPRECATIONS_HELPER: disabled
jobs:
  test-contrib:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php-version: ['8.0', '8.1']
        core: ['9.5.x']
        # Test php 8.2 only on 10.x core.
        include:
          - core: 10.0.x
            php-version: 8.2
    container:
      image: ghcr.io/tuutti/drupal-php-docker:${{ matrix.php-version }}

    services:
      mariadb:
        image: mariadb
        env:
          MYSQL_USER: drupal
          MYSQL_PASSWORD: drupal
          MYSQL_DATABASE: drupal
          MYSQL_ROOT_PASSWORD: drupal
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Parse $MODULE_NAME from composer.json
        run: echo "MODULE_NAME=$(cat composer.json | jq -r .name | awk -F/ '{print $NF}')" >> $GITHUB_ENV

      - name: Set variables
        run: echo "DRUPAL_ROOT=$HOME/drupal" >> $GITHUB_ENV

      - name: Clone drupal
        run: git clone --depth 1 --branch "${{ matrix.core }}" https://git.drupal.org/project/drupal.git/ $DRUPAL_ROOT

      - name: Install required composer dependencies
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          composer config platform.php ${{ matrix.php-version }}
          composer run-script drupal-phpunit-upgrade
          composer config repositories.0 path $GITHUB_WORKSPACE
          composer require drupal/$MODULE_NAME -W
          composer require drupal/commerce_shipping
          composer require "drush/drush ^11.0"
          composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
          composer require --dev "drupal/coder"

      - name: Install Drupal
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          php -d sendmail_path=$(which true); vendor/bin/drush --yes -v site-install minimal --db-url="$SIMPLETEST_DB"
          vendor/bin/drush en $MODULE_NAME -y

      - name: Run PHPCS
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          vendor/bin/phpcs modules/contrib/$MODULE_NAME --standard=Drupal --extensions=php,module,inc,install,test,info

      - name: Run PHPUnit tests
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          vendor/bin/drush runserver $SIMPLETEST_BASE_URL > /dev/null 2>&1 &
          chromedriver --port=4444 > /dev/null 2>&1 &
          vendor/bin/phpunit \
            --bootstrap core/tests/bootstrap.php \
            -c modules/contrib/$MODULE_NAME/phpunit.xml \
            modules/contrib/MODULE_NAME
